<div data-test-editor-post-status ...attributes>
    {{#if this.isSaving}}
        Guardando...
    {{else if @post.isSent}}
        Enviado a {{gh-pluralize @post.email.emailCount "member"}}
    {{else if (and @post.emailOnly @post.isScheduled)}}
        <time datetime="{{@post.publishedAtUTC}}" class="ml1 green f8" data-test-schedule-countdown>
            Sera enviado a <GhRecipientFilterCount @filter={{@post.emailRecipientFilter}} />
            {{this.scheduledTime}}
        </time>
    {{else if (or @post.isPublished @post.pastScheduledTime)}}
        Publicado
        {{#if (or (eq @post.email.status "submitting") (eq @post.email.status "submitting"))}}
            y enviando a {{gh-pluralize @post.email.emailCount "member"}}
        {{else if (eq @post.email.status "submitted")}}
            y enviado a {{gh-pluralize @post.email.emailCount "member"}}
        {{/if}}
    {{else if @post.isScheduled}}
        <time datetime="{{@post.publishedAtUTC}}" class="ml1 green f8" data-test-schedule-countdown>
            Sera publicado
            {{#if (and @post.emailRecipientFilter (not @post.email))}}
                y enviado a <GhRecipientFilterCount @filter={{@post.emailRecipientFilter}} />
            {{/if}}
            {{this.scheduledTime}}
        </time>
    {{else if @post.isNew}}
        Nuevo
    {{else}}
        Borrador
        {{if (not @hasDirtyAttributes) "- Guardado"}}
    {{/if}}
</div>